section.intro
	.flex.flex--space-around
		.col-1.introduction
			p.home-lead I'm an enthusiast developer who uses bleeding edge technologies to create stuff out of code. I keep posting about them on Twitter. Follow me to find out more.
			a(href="https://twitter.com/bepetese").home-cta.twitterBtn <i class="fa fa-twitter"></i> @bepetese

		.col-1#twitterTimeline
			a.twitter-timeline(href='https://twitter.com/bepetese', data-widget-id='690773426315747328') Tweets by @bepetese
