section.intro
	.flex.flex--space-around
		.col-1.introduction
			p.home-lead I'm an enthusiast developer who uses bleeding edge technologies to create stuff out of code. I keep posting about them on Twitter. Follow me to find out more.
			a(href="https://twitter.com/bepetese").home-cta.twitterBtn <i class="fa fa-twitter"></i> @bepetese

		.col-1#twitterTimeline
			a.twitter-timeline(href='https://twitter.com/bepetese', data-widget-id='691410774724448257') Tweets by @bepetese
			script.
				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
